// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-1-colors' as theme_1;
@use 'theme';

html {
  height: 100%;
}

body {
  color-scheme: light;
  padding: 1rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include theme.go(
    (
      color: (
        primary: theme_1.$primary-palette,
        tertiary: theme_1.$tertiary-palette,
      ),
    )
  );

  --sys-density-padding: var(--mat-form-field-container-vertical-padding, 16px);
}

.theme-1 {
  @include theme.go(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );

  --sys-density-padding: var(--mat-form-field-container-vertical-padding, 16px);
}
.theme-2 {
  @include theme.go(
    (
      color: mat.$green-palette,
      typography: Roboto,
      density: 0,
    )
  );

  --sys-density-padding: var(--mat-form-field-container-vertical-padding, 16px);
}
.theme-3 {
  @include theme.go(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: 0,
    )
  );

  --sys-density-padding: var(--mat-form-field-container-vertical-padding, 16px);
}
.theme-4 {
  @include theme.go(
    (
      color: mat.$red-palette,
      typography: Roboto,
      density: 0,
    )
  );

  --sys-density-padding: var(--mat-form-field-container-vertical-padding, 16px);
}
